.main {
    width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.main form {
    width: 1032px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

form input {
    flex-basis: 80%;
    height: 30px;
    padding: 10px;
}

form button {
    flex-basis: 20%;
    padding: 10px;
}

.outerDiv {
    width: 1032px;
    margin: 0 auto;
}

.outerDiv ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}

.outerDiv ul li {
    color: white;
    padding: 10px;
    font-size: 25px;
    text-align: left;
    background-color: black;
    margin-bottom: 10px;
    position: relative;
}

.outerDiv ul li span {
    right: 20px;
    cursor: pointer;
    right: 20px;
    position: absolute;
}

.completetodo {
    text-decoration: line-through;
    color: aqua;
}