@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contact_section {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.contact_section h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 80%;
}

.contact_section p {
  font-weight: 500;
}