.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 5px 4px;
    background: linear-gradient(#e66465, #9198e5);
    overflow: hidden;
}

img {
    padding: 10px;
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    margin-top: 6px;
    margin-bottom: 10px;
}