@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.primary_btn {
    padding: 18px 10px;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 1s;
}

.primary_btn:active {
    transform: scale(0.8);
}