/* Container for all cards */
.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 10px; /* space between cards */
  justify-items: center;
  padding: 20px;
  text-align: center;
}

/* Individual card styling */
.card {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}

.picture {
    height: 300px;
    width: 80%;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}