.container {
    max-width: 1032px;
    display: flex;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    gap: 54px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
}

.top_btn {
    display: flex;
    gap: 32px;
}