.container {
    max-width: 1032px;
    display: flex;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    gap: 54px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
}

.top_btn {
    display: flex;
    gap: 32px;
}


.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input{
    height: 40px;
    padding: 0 8px;
    font-family: "Montserrat", sans-serif;
} 

.form_control label {
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 18px;
    background-color: white;
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;
}

.form_control textarea {
    padding: 10px 10px;
    font-family: "Montserrat", sans-serif;
}