.navigation {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
}

.left_navigation{
    display: flex;
    gap: 20px;
    /* #ff5b5a */
}

.left_navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.left_navigation ul li {
    font-weight: 500;
}

.left_navigation ul li:hover {
    color: #ff5b5a;
    cursor: pointer;
    font-weight: 700;
}

.right_navigation {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_navigation button {
    padding: 10px;
    border-radius: 5px;
    background-color: #ff5b5a;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
}