#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form {
  width: 1170px;
  display: flex;
  margin: auto;
  gap: 20px;
}

form input {
  flex-basis: 80%;
  height: 40px;
}

form button {
  flex-basis: 20%;
}

.outerDiv ul {
  width: 1170px;
  padding: 0px;
  list-style: none;
  margin: auto;
}

.outerDiv ul li {
  color: white;
  background-color: black;
  font-size: 25px;
  margin-top: 50px;
  padding: 10px;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.outerDiv ul li span {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 20px;
  cursor: pointer;
  background-color: rgb(58, 58, 58);
  border-radius: 80%;
  text-align: center;
  bottom: 9px;
}

.completion {
  text-decoration: line-through;
  color: white;
  background-color: yellow !important;
}