@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main_container {
  display: flex;
  height: calc(100vh - 72px);
  flex-direction: column;
  justify-content: end;
}

