.colorbox{
    height: 222px;
    width: 222px;
    margin: 0 auto;
    padding: 1rem;
    background-color: aqua;
}

.colorbtn {
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
}