@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
    max-width: 1032px;
    display: flex;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.top_btn {
    display: flex;
    gap: 32px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input{
    height: 40px;
    padding: 0 8px;
} 

.form_control label {
    position: absolute;
    top: -10px;
    left: 18px;
    background-color: white;
}